# Core API Backend
fastapi
uvicorn
python-multipart
pyngrok

# AI Models & LangChain
ollama
langchain
langchain-core
langchain-ollama

# Memory & Database
langchain-postgres
psycopg[binary]
psycopg2
SQLAlchemy
pymongo

# Document Parsing
pymupdf
markdown
playwright
pandas
tabulate
pdfplumber

# Google Connectors
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Utilities
PyYAML
